/* NOTE! some of the words that are highlighted as green or has (/*) at each side are
 mainly for debugging and planning purposes */

 /* ---.contents contains a subheading and the contents of the subheading------ */

 .contents {
  width: 320px;
  height: 260px;
  margin-top: 50px;
  background: #F3F9FF;
}

.subhead {
  width: 280px;
  height: 50px;
  margin-left: 20px;
  background: #F3F9FF;
  display: flex;
  justify-content: center;  
}

/* ---.content2 is the parent of .paramob----- */

.content2 {
  width: 280px;
  height: 210px;
  margin-left: 20px;
  background: #F3F9FF;
  display: flex;
}

/* --puting a margin top for Biography---- */

.abt {
  margin-top: 2px;
}

.bio {
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  color: black;
}

/* ---content below .bio a paragraph containing about me------- */

.paramob {
  font-family: 'Montserrat', sans-serif;
  font-size: 11.5px;
  /* font-weight: light; */
}

/* -------skill mobile webpage--------- */

.skill {
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  color: black;
}

/* /* ---content 3 has 3 divs called skill-icon-box-layout inside. Each of those div contains 3 icons.  */

.content3 {
  width: 280px;
  height: 12em;
  margin-left: 20px;
  /* background: yellow; */
  display: flex;
  flex-direction: column;
  /* border: 1px solid black  */
}

.skill-icon-box-layout {
  width: 100%;
  height: 3.75em;
  /* background: yellowgreen; */
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 0.5em;
}

/* all mobile skill icons adjustments */
.skill-icon {
  height: 3.75em;
  width: 5em;
  /* background: black; */
  display: flex;
  align-content: center;
  justify-content: center;
}

.mobile-icon {
  font-size: 3.5em;
}


/* ---title for ruby--- */
/* 
.c3a {
  width: 80px;
  height: 30px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 18px;    
} */

/* ---title for html--- */

/* .c3b {
  width: 80px;
  height: 30px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 18px;       
} */

/* ---title for css--- */

/* .c3c {
  width: 80px;
  height: 30px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;  
  font-size: 18px;   
} */

/* -content4 contains 3 divs that has the images for the 3 titles---- */

/* 
.content4 {
  width: 280px;
  height: 100px;
  margin-left: 20px;
  display: flex;
  justify-content: space-around; 
}

.c4a {
  width: 90px;
  height: 90px;
  font-size: 80px;
  text-align: center;
}

.c4b {
  width: 90px;
  height: 90px;
  font-size: 80px;
  text-align: center;
}

.c4c {
  width: 90px;
  height: 90px;
  font-size: 80px;
  text-align: center;
} */