/* NOTE! some of the words that are highlighted as green or has (/*) at each side are
 mainly for debugging and planning purposes */
@import 'navbar.css';
@import 'footer.css';
@import 'content.css';
@import 'form.css';
@import 'media.css';
@import 'project.css';
* {
  margin: 0px;
}

/* --------setting the background------------ */

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #004e92;
}

.container {
  height: 100vh;
  background: #000428; /*fallback for old browsers*/
  background: -webkit-linear-gradient(to bottom, #000428, #004e92); /*Chrome 10-25, Safari 5.1-6*/
  background: linear-gradient(to bottom, #000428, #004e92); /*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+*/
  background-repeat: no-repeat;
  background-size: cover;
}

/* ---------MOBILE CSS customization for my Label and Hamburger menu----------- */
/* -----box1 is a div that contains 2 other div -label div for my Logo and nav div for my hamburger-------- */

.box1 {
  width: 300px;
  height: 50px;
  display: flex;  
}

.box1 a {
  text-decoration: none;
}

/* ---the label div contains 2 div - first div for 1st word of my logo 
and second div for my 2nd word of my logo both are mainly for customization--- */

.label {
  width: 60px;
  height: 49px;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 1px;
  border: 2px solid #F2FAFF;
  display: flex;
  background: black;
}

/* ---label1 is the 1st word of my mobile logo----  */

.label1 {
  width: 33px;
  height: 33px;
  margin-left: 5px;
  margin-bottom: 17px;
  /* border: 1px solid white; */
  font-size: 30px;
  color: #F2FAFF;
  font-family: 'Montserrat', sans-serif;
}

/* ---label2 is the 2nd word of my mobile logo----  */

.label2 {
  width: 22px;
  height: 18px;
  margin-top: 26px;
  margin-left: 2px;
  background: black;
  font-family: 'Montserrat', sans-serif;
  color: #F2FAFF;
  font-size: 19px;
}

/* -----box2 is a div for my title for my first mobile webpage------ */

.box2 {
  width: 270px;
  height: 105px;
  margin-left: 20px;
  margin-top: 150px;
  font-family: 'Montserrat', sans-serif;
  color: #F2FAFF;
  font-size: 19px;
  /* background: gray; */
}

/* -----box3 is a div, within that div there is a h3 header. 
Box3 is only used for mobile web page (contact, about me, skill)----  */

.box3 {
  width: 220px;
  height: 105px;
  margin-left: 20px;
  margin-top: 50px;
  font-family: 'Montserrat', sans-serif;
  color: #F2FAFF;
  font-size: 40px;
}
