/* NOTE! some of the words that are highlighted as green or has (/*) at each side are
 mainly for debugging and planning purposes */

/* ------------------desktop media queries------------------------------------------ */

@media only screen and (min-width: 920px) {
  
  body {
    /* margin: 0 50px; */
  }

  .container {
    height: 100vh;
    display: flex;
  }
  /* -----removing mobiles features when width is greater than 920px----- */
  .box1 {
    display: none;
  }

  .box1 .label {
    display: none;
  }

  .dropdown {
    display: none;
  }

  /* --------------------------desktop media queries----------------------------------------- */
  
  /* ---.desktop1 is the outer box for navbar setup + logo setup----- */
  
  .desktop1 {
    display: flex;
    width: 30%;
    height: 90vh;
  }
  /* ---desktopnav is the child of .desktop1----- */
  
  .desktopnav {
    display:flex;
    height: 100vh;
    width: 90%;
    margin-left: 20%;
  }

  /* ----navbardesk contains a child label-desk aka my logo 
  and a child nav-deslink (home, About, skill, contact links)------  */
  
  .navbardesk {
    border-right: none;
    height: 600px;
    width: 90%;
    margin-left: 10%;
    margin-top: 15%;
  }

  .nav-desklink {
    margin-top: 30px;
    width: 100%;
    height: 480px;
    display: flex;
    flex-direction: column;
  }
  /* ---side navbar aka .nav-desklink customizations----- */
  
  .headlinks {
    height: 100px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .headder1 {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background: black;
    font-size: 40px;
    padding: 15px 33px;
    border-radius: 8px;
  }

  .headder2 {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background: black;
    font-size: 40px;
    padding: 15px 54px;
    border-radius: 8px;
  }

  .headder3 {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background: black;
    font-size: 40px;
    padding: 15px 15px;
    border-radius: 8px;
  }

  .headder1:hover {
    background: #F3F9FF;
    color: black
  }

  .headder2:hover {
    background: #F3F9FF;
    color: black
  }

  .headder3:hover {
    background: #F3F9FF;
    color: black
  }

  .headder1:active {
    transform: translateY(2px)
  }

  .headder2:active {
    transform: translateY(2px)
  }

  .headder3:active {
    transform: translateY(2px)
  }
  /* ---end of side navbar aka .nav-desklink customizations----- */
  
  /* ----.label1-desk/.label2-desk my logo customizaton------- */
  
  .label1-desk {
    width: 45px;
    height: 45px;
    /* margin-left: 2px; */
    margin-bottom: 45px;
    /* margin-top: 1px; */
    /* border: 1px solid white; */
    background: black;
    font-size: 50px;
    color: #F3F9FF;
    font-family: 'Montserrat', sans-serif;
    /* font-weight: bold; */
    text-align: center;
  }
  .label2-desk {
    width: 45px;
    height: 45px;
    margin-top: 45px;
    /* margin-left: 2px;
    margin-right: 2px; */
    background: black;
    font-family: 'Montserrat', sans-serif;
    color: #F3F9FF;
    font-size: 30px;
    /* font-weight: bold; */
    /* padding-left: 5px; */
    text-align: center;
  }
  .label-desk {
    width: 90px;
    height: 90px;
    border: 2px solid #F3F9FF;
    display: flex;
    background: black;
  }
   /* ----end of .label1-desk/.label2-desk my logo customizaton------- */
  /* -----removing mobiles features when width is greater than 920px----- */
  
  .nav {
    display: none;
  }

  /* ----desktop div box for contact form------ */
  
  .formdisplay {
    width: 100vw;
    border: 2px solid black;
  }

  /* -----removing mobiles features when width is greater than 920px----- */
  
  .box2 {
    display: none;
  }

  .box3 {
    display: none;
  }
  .contents {
    display: none;
  }

  /* -----end of removing mobiles features when width is greater than 920px----- */

  /* ----desktop2 are contents for desktop mode and its on the right side of desktop1---- */
  
  .desktop2 {
    display: flex;
    width: 600px;
    height: 500px;
    margin-top: 14.5%;
    margin-left: 1%;
    margin-right: 5%;
    flex-direction: column;
  }
  /* ----title1 is a heading for its contents and is the parent of .title1content for about page---- */
  
  .title1 {
    width: 600px;
    height: 100px;
    background: #F3F9FF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    border-bottom: 1px solid black;
    color: black;
  }

  .title1content {
    width: 590px;
    background: #F3F9FF;
    height: 340px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 5px;
    text-align: center;
  }

  .title1content p {
    margin-top: 20px;
  }

  /* ---.titlecontent is the parent of .gridcontent (contains img of ruby html css)----- */
  
  .titlecontent {
    width: 600px;
    background: #F3F9FF;
    height: 350px;
    /* margin-left: 30px; */
    display: flex;
    align-items: center;
  }

  /* ---- desktop contact form ---------- */

  .contactcontent {
    width: 600px;
    background: #F3F9FF;
    height: 350px;
    display: flex;
  }

  .getintouch {
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
    align-items: center;
  }

  .getintouch h2 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 12px;
    font-size: 25px;
    padding-bottom: 3px;
    border-bottom: 1px solid black;
  }

  .desktopform {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  label {
    margin-bottom: 2px;
  }

  input[type=text] {
    height: 22px;
    margin-bottom: 2px;
  }

  input[type=email] {
    margin-bottom: 2px;
    height: 22px;
    width: 280px;
  }

  #message {
    height: 60px;
    width: 280px;
  }

  input[type=submit] {
    margin-top: 8px;
    font-family: 'Montserrat', sans-serif;
    height: 30px;
    width: 280px;
    font-size: 18px;
  }

  .mysocialprofile {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mysocialprofile h2 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 12px;
    font-size: 25px;
    padding-bottom: 3px;
    border-bottom: 1px solid black;
  }

  .mysocialprofile a {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: black;
  }

  .mysocialprofile a p {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .devicon-github-plain {
    font-size: 70px;
  }

  .fa-linkedin {
    font-size: 70px;
  }
  /* ---- end desktop contact form ---------- */
  /* ---.titlecontent is the parent of .gridcontent (contains img of ruby html css)
  gridcontent customization----- */
  
  .gridcontent {
    margin-top: 1.25em;
    width: 600px;
    display: grid;
    grid-row-gap: 0.75em;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
  }

  .desk-devicon {
    font-size: 5.625em;
  }

  /* --end of grid customizations---- */

  /* --.alignment is the title for first desktop webpage--- */
  
  .alignment {
    width: 580px;
    height: 200px;
    margin-left: 30px;
  }

  .alignment h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    color: #F2FAFF;
  }

  /* -----removing mobiles features when width is greater than 920px----- */

  .formdisplay {
    display: none;
  }

  .label {
    display: none;
  }

  div .box1 {
    display: none;
  }

  /* ---created a desktop footer include image links to linkedin and github---- */
  
  footer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: black;
    align-items: center;
  }

  footer p {
    color: #f2faff;
    margin-left: 9%;
    margin-right: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px
  }

  footer a {
    text-decoration: none;
  }

  .footericon {
    font-size: 40px;
    color:  #f2faff;
    margin-left: 10px;
  }

  #githubfooter {
    color:  #f2faff;
    margin-left: 10px;
  }

  .download-link {
    font-size: 0.8em;
    margin-left: 1.5em;
    color:  #f2faff;
  }
}

/* ---media queries for mobile responsiveness--- */

@media only screen and (max-width: 919px) and (min-width : 321px) {
  .formdisplay {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;  
  }

  .contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;  
  }
}

